
{% block ux_collection_widget -%}
    {%- set controllerName = 'stakovicz--ux-collection--collection' -%}
    {%- set dataController = (attr['data-controller']|default('') ~ ' ' ~ controllerName)|trim -%}
    {# attr for the data target on the entry of the collection #}
    {%- set attrDataTarget = {('data-'~controllerName~'-target'): 'entry' } -%}

    <div data-controller="{{ dataController }}"
        data-{{ controllerName }}-allow-add-value="{{ allow_add }}"
        data-{{ controllerName }}-allow-delete-value="{{ allow_delete }}"
        data-{{ controllerName }}-button-add-class-value="{{ button_add.attr.class }}"
        data-{{ controllerName }}-button-add-text-value="{{ button_add.text|trans }}"
        data-{{ controllerName }}-button-delete-class-value="{{ button_delete.attr.class }}"
        data-{{ controllerName }}-button-delete-text-value="{{ button_delete.text|trans }}"
    >
        {% if prototype is defined and not prototype.rendered %}
            {%- set prototype_attr = prototype.vars.attr|merge(attrDataTarget) -%}
            {%- set attr = attr|merge({'data-prototype': form_row(prototype, {'row_attr': prototype_attr}) }) -%}
        {% endif %}
        {%- set attr = attr|merge({('data-'~controllerName~'-target'): 'container' }) -%}

        <div {{ block('widget_container_attributes') }}>
            {%- if form is rootform -%}
                {{ form_errors(form) }}
            {%- endif -%}

            {% for child in form|filter(child => not child.rendered) %}

                {%- set child_attr = child.vars.attr|merge(attrDataTarget) -%}
                {{- form_row(child, {'row_attr': child_attr}) -}}

            {% endfor %}
            {{- form_rest(form) -}}
        </div>
    </div>
{%- endblock %}
